<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connectionstring" value="Data Source=198.71.226.6,1433;MultipleActiveResultSets=True;User Id=boatdev;Password=wd?Cf112;Initial Catalog=BoatDev;;Pooling=False;"/>
    <add key="connectionstringDATA" value="Data Source=198.71.226.6,1433;MultipleActiveResultSets=True;User Id=boatdev;Password=wd?Cf112;Initial Catalog=BoatDev; Provider=SQLOLEDB;Pooling=False;"/>
    <!--
    <add key="connectionstringDATA" value="Data Source=198.71.226.6,1433;MultipleActiveResultSets=True;User Id=boat;Password=_6bpA30k;Initial Catalog=BoatDev; Provider=SQLOLEDB;Pooling=False;" />
  
    
    <add key="connectionstring" value="Data Source=.\SQL2014;User Id=boat;Password=boatpassword;Initial Catalog=BoatRenting;MultipleActiveResultSets=True;" />
    <add key="connectionstringDATA" value="Data Source=.\SQL2014;User Id=boat;Password=boatpassword;Initial Catalog=BoatRenting; Provider=SQLOLEDB;MultipleActiveResultSets=True;" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full"/>
    <customErrors mode="Off"/>
    <!-- <customErrors mode="On" defaultRedirect="/index.aspx" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="/index.aspx" />
      <error statusCode="500" redirect="/index.aspx" />
      <error statusCode="403" redirect="https://www.rentaboat.com" />
    </customErrors>
    
    -->
    <httpRuntime maxRequestLength="512000"/>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;c:\inetpub\wwwroot\boatrenting\client.net\bin"/>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.3.19379" newVersion="1.9.3.19379"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.3.19381" newVersion="1.9.3.19381"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.3.19379" newVersion="1.9.3.19379"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <!--
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
-->
    <rewrite>
      <rules>
        <!--    <rule name="SEO - Remove trailing slash" stopProcessing="false">
      <match url="(.+)/$" />
      <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
        <add input="{HTTP_METHOD}" pattern="GET" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      </conditions>
      <action type="Rewrite" url="_{R:1}" />
    </rule>

-->
        <!--<rule name="Redirect https rentaboat.com to www" patternSyntax="Wildcard" stopProcessing="false">
      <match url="*" />
      <conditions logicalGrouping="MatchAny">
        <add input="{HTTP_HOST}" pattern="rentaboat.com" />
        <add input="{HTTP_HOST}" pattern="boatrenting.com" />
      </conditions>
      <action type="Redirect" url="https://www.rentaboat.com/{R:0}" redirectType="Permanent" />
    </rule>
    
    <rule name="https redirect" stopProcessing="true">
      <match url="(.*)" ignoreCase="false" />
      <conditions>
        <add input="{HTTPS}" pattern="off" ignoreCase="false" />
      </conditions>
      <action type="Redirect" redirectType="Permanent" url="https://www.rentaboat.com{REQUEST_URI}" />
    </rule>-->
      </rules>
    </rewrite>
    <!--
  <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="400" path="/index.aspx" responseMode="Redirect" />
      <error statusCode="404" prefixLanguageFilePath="" path="/index.aspx" responseMode="Redirect" />
    
    </httpErrors>
-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="512000000"/>
      </requestFiltering>
    </security>
    <!--<tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASPNET" areas="AppServices,Infrastructure,Module,Page" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Cache,CGI,Compression,FastCGI,Filter,Module,RequestNotifications,RequestRouting,Rewrite,Security,StaticFile,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing>-->
  </system.webServer>
</configuration>